@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smooth: antialiased;
    font-family: 'Roboto', sans-serif;
    
}

html, body {
    height: 100%;
}

a, li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

button, input {
    border: none;
}

button {
    cursor: pointer;
}

button, input:focus {
    border: none;
}

button:hover {
    outline: none;
}
:root {
    --white: #fff;
    --white-color-font: rgb(197, 193, 193);
    --default-transition: all 0.3s;
    --orange: #f3aa3d;
    --secundary-color: linear-gradient(43.13deg, #9E4DF2 -7.7%, #11BFCB 107.45%);
    --purple: #6852F4;
    ---medium-purple: #9E4DF2;
    --view-1080: 40vw;
    --view-552: 100px;
    --line-heigth-default: 1.8;
    --shadow-primary: 4px 2px 10px 1px #ccc;
    --shadow-secondary: 4px 2px 10px 1px #9E4DF2;
    --green: #64CAD9;
    --green-dark: #11BFCB;
    --orange-soft: #FBB040;
}

html {
    scroll-behavior: smooth;
}

.principal {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.header_pag_one {
    width: 100%;
    height: 88px;
    display: flex;
    background: var(--white);
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 5px 2px #ccc;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
}

.container_img {
    min-width: 80px;
    align-self: center;
}

.menu, .navigation_menu, .navigation_menu a {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    transition: var(--default-transition);
}

.menu button {
    width: 30%;
    height: 50%;
}

.burguer_menu {
    display: none;
}

.navigation_menu {
    width: 80%;
    height: 100%;
    font-weight: 500;
}

.navigation_menu a {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navigation_menu a:hover {
    background: var(--purple);
    color: var(--white);
}

.navigation_menu a:hover .image_effect {
    visibility: visible;
}

.container_menu_burguer {
    display: none;
}

.default_button {
    background: var(--orange);
    min-height: 50px;
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 7px;
    color: var(--white);
    border: none;
    box-shadow: var(--shadow-primary);
    font-weight: 500;
}

.content1, .content2, .content3, .content4, .content5, .content6, .content7, .content8, .footer_pag1 {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.content2, .content4, .content6, .content8 {
    background: var(--white);
}

.content3, .content5, .content7 {
    background: var(--secundary-color);
}

.content1 {
    margin-top: 88px;
    background: var(--purple);
    position: relative;
    justify-content: center;
    align-content: center;
}

.container_svg {
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 100px;
    top: 99%;
}

.container_svg svg {
    max-width: 100%;
}

.container_information_sec1 {
    width: 30%;
    min-height: 30%;
    margin-bottom: 200px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    color: var(--white);
    gap: 20px;
}

.container_information_sec1 button {
    width: 60%;
    height: 30px;
    margin: 0;
    box-shadow: var(--shadow-secondary);
}

.container_information_sec1 h1 {
    font-size: 3em;
}

.container_information_sec1 h2 {
    font-weight: 500;
    line-height: var(--line-heigth-default);
}

.img_group {
    background: url(2628aa87abdb66c3e402.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 60%;
    height: 70%;
}

.content2 {
    flex-wrap: nowrap;
    padding-top: 8%;
    justify-content: center;
    
}

.container_img_section2 {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 80%;
}

.container_information_sec2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3.5%;
}

.content_information_sec2 {
    display: flex;
    flex-direction: column;
    color: var(---medium-purple);
    gap: 10px;
    width: 80%;
    height: 100%;
    line-height: var(--line-heigth-default);
   
}

.container_information_sec2 .default_button {
    width: 45%;
    margin: 0;
}

.container_information_sec2 h2 {
    font-size: max(3.5em, 4vw);
}

.container_information_sec2 h3 {
    font-weight: 500;
    font-size: max(1.2em, 1.3vw);
}

.img_intra {
    max-width: 100%;
    object-fit: cover;
}

.content3 {
    color: var(--green);
    justify-content: center;
    gap: 50px 0;
    padding: 100px 60px;
}

.content3 h2 {
    font-size: max(1.5em, 3.5vw);
    color: var(--white);
}

.container_information_sec3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    justify-content: center;
}

.container_details {
    flex-basis: 32%;
    transition: var(--default-transition);
}

.container_information_sec3_header {
    display: flex;
    gap: 0 15px;
    align-items: center;
}

.container_information_sec3_header img {
    width: 2.5vw;
    height: 2.5vw;
}

.container_information_sec3_text {
    font-weight: 500;
    color: var(--white-color-font);
    transition: var(--default-transition);
    text-align: left;
    padding: 0px;
}

.container_information_sec3_text:hover {
    color: var(--white);
}

.container_information_sec3_text h4 {
    font-weight: 500;
    line-height: var(--line-heigth-default);
}

.container-arrow {
    display: none;
}

.content4 {
    position: relative;
    justify-content: center;
    align-items: center;
}

.container_information_sec4 {
    height: 100%;
    width: 20%;
    display: grid;
    place-items: center;
}

.content_information_sec4 {
    width: 100%;
    height: 70%;
    margin-top: 50%;
}

.content_information_sec4 ul {
    width: 100%;
    height: 50%;
    display: grid;
    margin-bottom: 15px;
}

.container_details_sec4 {
    font-size: clamp(1.5em, 1vw, 3vw);
    color: var(--green);
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.container_details_sec4 h2 {
    font-weight: 700;
}

.container_img_section4 {
    max-width: clamp(300px, 65vh, 100vh);
    background: none;
}

.img_app_aluno {
    max-width: 100%;
    object-fit: cover;
}

.container-checked-img {
    background: url(4b3df1e0abca40a702bb.svg);
    width: max(30px, 2vw);
    height: max(30px, 2vw);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.content5 {
    position: relative;
}

.container_information_sec5 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_information_sec5 {
    width: 40%;
    height: 60%;
    padding: 0 20px;
    display: grid;
    color: var(--white);
}

.content_information_sec5 .default_button {
    justify-self: start;
    width: 40%;
    height: 30px;
    margin: 0;
    box-shadow: var(--shadow-secondary);
}

.content_information_sec5 ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

.container_details_sec5 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container_details_sec5 h2 {
    font-size: clamp(1.5em, 1vw, 3vw);
    flex: 1.5;
}

.container_img_section5 {
    background: url(77043b096c89f0e5055d.svg);
    width: 100%;
    min-height: 30%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

.container-checked-img-sec5 {
    background: url(04335c76fcaab2424fdb.svg);
    width: max(25px, 2vw);
    height: max(25px, 2vw);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

.container_img_teacher1, .container_img_teacher2 {
    width: 9%;
    height: 80%
}

.container_img_teacher1 {
    background: url(9b5e17c14902e4fe7481.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 90%;
}

.container_img_teacher2 {
    background: url(ef77600db6151921ed58.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position: center 90%;
}

.content6 {
    align-items: center;
    padding: 100px 60px;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--green);
    gap: 30px;
}

.container_counts {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    margin-top: 5%;
}

.content_icons_numbers {
    width: 100%;
    display: flex;
    gap: 0 5px;
}

.container_data {
    display: flex;
    font-size: clamp(3.5em, 4vw, 5vw);
    color: var(--green-dark);
    font-weight: 900;
    gap: 10px;
}

.content_icons_numbers {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.content_icons_numbers p {
    color: var(---medium-purple);
    font-size: max(1em, 1vw);
}

.countrSchools, .count10years, .countStudents {
    min-width: 100px;
    text-align: center;
    transition: all 0.5s;
    text-align: right;
    margin-left: 1%;
}

.ntd_container {
    background: url(c47c12af37d0413f0736.svg);
}

.icon_schl {
    background: url(ba24ec65a360e2bcf75d.svg);
}

.icons_tyrs {
    background: url(caf603f1893c90c4c5d7.svg);
}

.icons_stds {
    background: url(1c19bafcc0c245590bde.svg);
}

.icon_schl, .icons_tyrs, .icons_stds, .ntd_container {
    min-width: 65px;
    min-height: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.content7 {
    justify-content: center;
}

.container_sec7 {
    padding: 5% 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px 0;
}

.youtube_info {
    display: grid;
    justify-content: center;
    padding-left: 9%;
}

.youtube_info h2 {
    color: var(--orange-soft);
    text-transform: uppercase;
    font-size: max(2.8em, 2vw);
}

.youtube_info p {
    color: var(--white);
    font-size: clamp(0.9em, 1em, 2vw);
    width: 85%;
    /* line-height: var(--line-heigth-default); */
}

.img_yt {
    background: url(1339d647a22fe920ac2e.png);
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.content8 {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0 2.5%;
}

.container_info_img {
    width: 50%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10% 0;
}

.container_info_sec8 {
    margin-top: 4.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px 0;
}

.container_info_sec8 h2 {
    font-size: max(2em, 3.5vw);
    color: var(--purple);
}

.container_info_sec8 p {
    font-size: clamp(0.9em, 1em, 2vw);
    color: var(--green);
    width: 50%;
    align-self: center;
}

.container_img_cc {
    margin-top: 5%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.img_call_center {
    object-fit: cover;
    width: 60%;
}

.container_form {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
}

.container_form form {
    margin-top: 35%;
    padding: 30px;
    box-shadow: 0 0 2px 2px var(--white-color-font);
    border-radius: 15px;
    background: var(--secundary-color);
    display: flex;
    flex-direction: column;
    height: min(380px, 900px);
    width: 90%;
    gap: 20px 0;
    justify-content: center;
}

.container_form input::placeholder {
    color: var(--purple);
    font-size: 1.2em;
}

.container_form input {
    padding-left: 5%;
}

.container_form form h2 {
    color: var(--white);
    font-size: max(2.2em, 2vw);
    text-align: center;
}

.container_form form input, .container_number {
    min-height: 15%;
}

.container_number input {
    height: 100%;
}

.container_form input::placeholder {
    color: var(--purple);
    font-size: 1.2em;
}

.container_number {
    display: flex;
    gap: 0 10px;
}

.ddd {
    width: 25%;
}

.phone {
    width: 100%;
}

.container_form form .default_button {
    width: 50%;
    border-radius: 17px;
}

.footer_pag1 {
    color: var(--white);
    background: var(--purple);
}

.content_f_pag1 {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.map_site {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 30px;
}

.content_map {
    height: 100%;
}

.resume_f_pag1, .sge, .p-f, .a-a, .contacts {
    display: flex;
    flex-direction: column;
    font-size: max(1em, 1vw);
    font-weight: normal;
}

.sge, .p-f, .a-a, .contacts {
    line-height: var(--line-heigth-default);
}

.sge h4 {
    text-transform: uppercase;
}

.resume_f_pag1 {
    flex: 0 1 20%;
    align-items: flex-start;
    gap: 30px;
}

.logo_footer {
    background: url(27d918a0e86852ac2645.svg);
    min-width: 150px;
    min-height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sge {
    flex: 0 1 10%;
}

.p-f {
    flex: 0 1 15%;
}

.a-a {
    flex: 0 1 15%;
}

.contacts {
    flex: 0 1 20%;
    gap: 10px 0;
    margin-top: 3%;
}

.icons_footer_pag1 {
    width: 7.5%;
    vertical-align: super;
}

.esp {
    width: 6%;
}

.container_info_f_pag1 {
    display: flex;
    align-content: flex-start;
    gap: 10px;
}

.infos_f_pag1 {
    font-size: max(0.8em, 0.5vw);
}

.soc_networks {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0 30px
}

.i_f_yt, .i_f_fc, .i_f_wp, .i_f_in {
    min-height: max(25px, 0.5vw);
    min-width: max(25px, 0.5vw);
    cursor: pointer;
    transition: var(--default-transition);
}

.i_f_yt:hover, .i_f_fc:hover, .i_f_wp:hover, .i_f_in:hover {
    transform: scale(1.1, 1.1);
}

.i_f_yt {
    background: url(f17e3da47101a4f72492.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.i_f_fc {
    background: url(9e8069bd37712a5c1b80.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.i_f_wp {
    background: url(2b0f9aa35ede201b1cc3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.i_f_in {
    background: url(c6760db619746fac6cc4.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*MEDIAS*/

@media only screen and (max-width: 1080px) {
    .principal {
        position: relative;
    }
    .header_pag_one {
        width: 100%;
    }
    .container_img {
        display: none;
    }
    .menu {
        background: var(--secundary-color);
        visibility: hidden;
        height: 100vh;
        width: 0;
        right: 0px;
        transition: var(--default-transition);
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow: hidden;
    }
    .burguer_menu {
        background: var(--white);
        width: 100%;
        height: 88px;
        right: 0vw;
        position: fixed;
        transition: var(--default-transition);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
    }
    .burguer_menu input {
        display: none;
    }
    .container_menu_burguer {
        display: block;
        width: 100px;
        height: 100%;
        position: relative;
        background: var(--white);
    }
    .container_menu_burguer label {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
    .container_menu_burguer label::before, .container_menu_burguer label::after {
        width: 100%;
        content: '';
        position: absolute;
        left: 0;
    }
    .container_menu_burguer label::before {
        top: -15px;
    }
    .container_menu_burguer label::after {
        top: 15px;
    }
    .container_menu_burguer label, .container_menu_burguer label::before, .container_menu_burguer label::after {
        border-radius: 5px;
        background: var(--secundary-color);
        height: 5px;
        transition: var(--default-transition);
    }
    input:checked+label:after {
        transform: translate(0px, -15px) rotate(-45deg);
    }
    input:checked+label:before {
        transform: translate(0px, 15px) rotate(45deg);
    }
    input:checked+label {
        background: transparent;
    }
    .navigation_menu {
        width: 100%;
        height: 60%;
        flex-wrap: wrap;
    }
    .navigation_menu a {
        color: var(--white);
        font-size: 1em;
        transition: none;
        width: 100%;
        height: 20%;
        padding: 30px 0;
    }
    .menu button {
        margin-top: 50px;
        height: 50px;
        width: 80%;
        font-size: 1em;
        box-shadow: var(--shadow-secondary);
    }
    .content1, .content2 {
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center
    }
    .container_information_sec1 {
        width: 90%;
        color: var(--white);
        margin: 0px 0px 20px 0px;
    }
    .container_information_sec1 h1 {
        width: 100%;
        font-size: 3.5em;
    }
    .img_group {
        height: 45vh;
        width: 90%;
    }
    .content2 {
        margin: 25% 0 45% 0;
        height: 100vh;
        width: 100%;
        position: relative;
        align-items: center;
        
    }
    .container_img_section2 {
        width: 100%;
        height: 100%;
    }
    .img_intra {
        filter: opacity(10%);
    }
    .content_information_sec2 {
        width: 100%;
        height: 100%;
        color: var(---medium-purple);
        padding: 0 5%;
        gap: 10px;
        position: absolute;
        left: 0;
        justify-content: center;
       
    }
    .content_information_sec2 .default_button {
        width: 100%;
        margin-top: 10%;
    }
    .content_information_sec2 h3 {
        color: var(---medium-purple);
        font-weight: 500;
        line-height: var(--line-heigth-default);
    }
    .content3 {
        padding: 10px 0 0 0;
        flex-direction: column;
    }
    .content3 h2 {
        text-align: center;
    }
    .container_information_sec3 {
        display: flex;
        padding: 0 5%;
        gap: 20px 0;
    }
    .container_details {
        flex-basis: auto;
        height: 80px;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        gap: 20px 0;
    }
    .container_information_sec3_text {
        color: var(--white);
        height: 0%;
        visibility: hidden;
        overflow: hidden;
    }
    .container_information_sec3_header {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .container_information_sec3_header img {
        width: 35px;
        height: 35px;
    }
    .container_information_sec3_header h3 {
        width: 50%;
        font-size: 1.1em;
    }
    .container-arrow {
        background: none;
        width: 50%;
        min-height: 20px;
        display: flex;
        justify-content: flex-end;
    }
    .arrow {
        width: 20px;
        min-height: 20px;
        background: url(305bc3f10e5a1af88cc3.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: rotate(90deg);
        transition: var(--default-transition);
    }
    .container_img_section4 {
        max-width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        filter: opacity(10%);
    }
    .img_app_aluno {
        object-fit: cover;
        max-width: 100%;
    }
    .container_information_sec4 {
        width: 100%;
        height: 100%;
        margin-top: 0;
        position: absolute;
        top: 0%;
        left: 0%;
        display: flex;
        align-items: center;
    }
    .content_information_sec4, .content_information_sec5 {
        width: 100%;
        height: 80%;
        gap: 0;
        padding: 0 5%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_information_sec4 ul {
        display: grid;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    .content_information_sec5 {
        padding: 0px 5%;
        position: absolute;
        height: 100%;
        z-index: 10;
        background: none;
        margin: 0;
    }
    .content_information_sec5 ul {
        width: 100%;
        height: 50%;
        column-gap: 10px;
    }
    .container_details_sec5 {
        align-items: start;
    }
    .content_information_sec5 .default_button {
        width: 100%;
        height: 30px;
        margin: 0;
    }
    .container_img_section5 {
        width: 95%;
    }
    .container_img_teacher1, .container_img_teacher2 {
        height: 100%;
        width: 100%;
        opacity: 20%;
        -moz-opacity: 0.1;
        /* Firefox and Mozilla browsers */
        -webkit-opacity: 0.1;
        /* WebKit browser e.g. Safari */
        background-position: center;
    }
    .content6, .content7 {
        align-items: center;
        padding: 0 5%;
    }
    .about {
        display: none;
    }
    .container_counts {
        flex-direction: column;
        height: 70%;
    }
    .content_icons_numbers {
        width: 100%;
        padding: 0;
    }
    .content_icons_numbers p {
        margin-top: 10px;
        width: 100%;
    }
    .container_data {
        gap: 10px;
    }
    .container_sec7 {
        width: 100%;
        gap: 0;
    }
    .container_info_img {
        width: 100%;
    }
    .youtube_info {
        padding: 0;
    }
    .img_yt {
        height: 50%;
    }
    .content8 {
        flex-direction: column;
        padding: 0 5%;
        justify-content: center;
    }
    .container_img_cc {
        display: none;
    }
    .container_info_sec8 p {
        width: 100%;
    }
    .container_form {
        width: 100%;
        height: 70%;
        justify-content: center;
    }
    .container_form form {
        width: 100%;
        margin-top: 0%;
        padding: 10px;
    }
    .container_number {
        display: flex;
        gap: 0 10px
    }
    .map_site {
        flex-direction: column;
        align-items: start;
        padding: 5%;
        gap: 20px 0;
    }
    .contacts {
        margin: 0;
    }
    .copy {
        margin-top: 10px;
    }
}

/*EFFECTS*/

.show_menu {
    width: calc(100vw - var(--view-1080));
    visibility: visible;
    overflow: auto;
}

.translate_button {
    right: calc(100vw - var(--view-1080));
}

.show_menu_small_w {
    width: calc(100vw - var(--view-552));
    visibility: visible;
    overflow: auto;
}

.translate_button_small_w {
    right: calc(100vw - var(--view-552));
}

.image_effect {
    max-width: 50px;
    visibility: hidden;
}

.show_text {
    height: 300px;
    visibility: visible;
    overflow: auto;
}

.show_text_details {
    height: 330px;
}

.rotate {
    transform: rotate(270deg);
}
